

body{
	background-color: #2C3B4E;
	color: #FFC641 ;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.center-container{
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
}


.btn-primary{
	background-color: #FFC641;
}

.top-buffer { margin-top:30px; }

.loader {
 position: fixed;
 left: 0px;
 top: 0px;
 width: 100%;
 height: 100%;
 z-index: 9999;
 background-color: #2C3B4E;
 
 }



.hourglass{
    display:block;
    background:#2C3B4E;
    margin:25% auto;
    width:2em;
    height:4em;
    box-shadow:
        inset #2C3B4E 0 0 0 0,
        inset white 0 2em 0 0,
        inset #2C3B4E 0 0 4em 0;
    animation:hourglass 1s linear infinite;
}

.outer{
    fill:white;
}

.middle{
    fill:#2C3B4E;
}

@keyframes hourglass{
    0%{
        transform:rotate(0deg);
        box-shadow:
            inset #2C3B4E 0 0 0 0,
            inset white 0 2em 0 0,
            inset #2C3B4E 0 4em 0 0,
            inset white 0 4em 0 0;
    }
    80%{
        transform:rotate(0deg);
        box-shadow:
            inset #2C3B4E 0 2em 0 0,
            inset white 0 2em 0 0,
            inset #2C3B4E 0 2em 0 0,
            inset white 0 4em 0 0;
    }
    100%{
        transform:rotate(180deg);
        box-shadow:
            inset #2C3B4E 0 2em 0 0,
            inset white 0 2em 0 0,
            inset #2C3B4E 0 2em 0 0,
            inset white 0 4em 0 0;
    }
}

td, th {
  margin: 0;
  border: 1px solid grey;
  white-space: nowrap;
  border-top-width: 0px;
}

#table-wrapper {
  position:relative;
}
#table-scroll {
  
  overflow-x:auto;  
  margin-top:20px;
}
#table-wrapper table {
  width:100%;

}

.headcol {
	background: #4e5d71;
  color: #ccc;
  /*position: absolute;*/
  width: 6em;
  left: 0;
  top: auto;
  border-top-width: 1px;
  width:100px;
  /*only relevant for first row*/
  margin-top: -1px;
  /*compensate for top border*/
}

.thead{
	position: fixed;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-top: 1px solid grey;
}




.vacio{
	width: 98px;
  display: block;
}

#barra-usuario{
  margin-top: 15px;
  float: left;
}


#contenedor-grafico{
    width: 100%;
    height: 300px;
    background-color: #2c3b4e;
    margin-top: 30px;
}


.chart-container{
    display: inline-block !important;
}